:root {
  font-size: calc(15px + 0.4vw);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body:has(dialog[open]) {
  filter: blur(4px);
  overflow-y: hidden;
}

body:has(.modal[open]) {
  overflow-y: hidden;
}

section {
  min-height: 100vh;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  display: flex;
  margin: 0 12.5vw 5vh;
  transition: opacity 0.3s;
  padding: 1rem;
  min-width: 400px;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  margin: 0;
}

h2 {
  font-family: "Annapurna SIL", serif;
  font-size: 4rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

h4 {
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}

h5 {
  margin: 0;
  color: #647792;
  font-weight: 400;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E0E1DD;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width : 1024px) {
  section {
    margin: 0;
  }
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0;
  }

  h2 {
    font-family: "Annapurna SIL", serif;
    font-size: 2.5rem;
    margin: 0;
  }

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  h4 {
    font-size: 0.75rem;
    margin: 0;
  }
}


